extends layout

block content
  .container
    .row
      .col-xs-12.col-sm-12
        h1.display-4= title
          h6
            p #{author} -              
              span= moment(date).format('DD/MM/YYYY')
            p #{likes} likes
            p.border-bottom Tags: 
              if tags
                each tag in tags
                  a(href='#') #{tag} 
                  nbsp 
          
      .col-xs-12
        if img
          img.float-left.mr-4.mb-4(src=`/img/${img}` width="50%" )   
        p.articlebody.text-wrap.text-justify !{body}
        .row.border-top
          .col-6
            p Share this article
          .col-6.text-right
            button.btn.btn-info Like
            
            button.btn.btn-info Comment
    .row.border-top
      if comments
        h4 Comments
        .col-12
          each comment in comments
            .row.bg-secondary.mb-3.mt-3
              .col-3
                small
                  span.text-right.text-small= moment(comment.date).format('DD/MM/YYYY hh:mm')
              .col-7
                h5 #{comment.name}
                p #{comment.body}
              .col-2
                if comment.likes
                  p #{comment.likes} likes
                button.btn.btn-secondary.btn-sm Like
                

          

      
           
    