extends layout

block content
        .row.align-middle
            .col-md-9
                h1 Questions & Answers
                
                p from our gardening community members 
            .col-md-3.p-4
                a.btn.btn-success(href='/questions/create') Ask a gardening question
    
        //
        // the filter strap line
        //
        .row.border-top.border-bottom
            .col-md-2
                p 4,344 questions
            .col-md-8
                button.btn.btn-sm.btn-secondary Newest
                button.btn.btn-sm.btn-secondary Unanswered
            .col-md-2
        //
        // Question
        //
        each q in questions
            .row.border-bottom 
                .col-md-1.col-sm-1.col-1
                    .row
                        .col-md-12
                            h3.text-center #{q.rating}
                            p.text-center votes
                    .row
                        .col-md-12
                            h3.text-center #{q.answers.length}
                            p.text-center answers
                .col-md-8.col-sm-11.col-11
                    h4
                        a(href='#') #{q.title}
                    p #{q.body.slice(0,300)}
                    .row
                        .col-md-8
                            if q.tags
                                each tag in q.tags
                                    .btn.btn-sm
                                        a(href='#') #{tag}
                        .col-md-4
                            p Asked 17/11/18 
                                if q.user
                                    a(href='#') #{q.user}
                .col-md-3